@font-face {
  font-family: 'iconos';
  src:  url('fonts/iconos.eot?7ghkme');
  src:  url('fonts/iconos.eot?7ghkme#iefix') format('embedded-opentype'),
    url('fonts/iconos.ttf?7ghkme') format('truetype'),
    url('fonts/iconos.woff?7ghkme') format('woff'),
    url('fonts/iconos.svg?7ghkme#iconos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-times:before {
  content: "\e900";
}
.icons-tick:before {
  content: "\e901";
}
.icons-plus:before {
  content: "\e902";
}
.icons-minus:before {
  content: "\e903";
}
.icons-equals:before {
  content: "\e904";
}
.icons-divide:before {
  content: "\e905";
}
.icons-chevron-right:before {
  content: "\e906";
}
.icons-chevron-left:before {
  content: "\e907";
}
.icons-arrow-right-thick:before {
  content: "\e908";
}
.icons-arrow-left-thick:before {
  content: "\e909";
}
.icons-th-small:before {
  content: "\e90a";
}
.icons-th-menu:before {
  content: "\e90b";
}
.icons-th-list:before {
  content: "\e90c";
}
.icons-th-large:before {
  content: "\e90d";
}
.icons-home:before {
  content: "\e90e";
}
.icons-arrow-forward:before {
  content: "\e90f";
}
.icons-arrow-back:before {
  content: "\e910";
}
.icons-rss:before {
  content: "\e911";
}
.icons-location:before {
  content: "\e912";
}
.icons-link:before {
  content: "\e913";
}
.icons-image:before {
  content: "\e914";
}
.icons-arrow-up-thick:before {
  content: "\e915";
}
.icons-arrow-down-thick:before {
  content: "\e916";
}
.icons-starburst:before {
  content: "\e917";
}
.icons-starburst-outline:before {
  content: "\e918";
}
.icons-star:before {
  content: "\e919";
}
.icons-flow-children:before {
  content: "\e91a";
}
.icons-export:before {
  content: "\e91b";
}
.icons-delete:before {
  content: "\e91c";
}
.icons-delete-outline:before {
  content: "\e91d";
}
.icons-cloud-storage:before {
  content: "\e91e";
}
.icons-wi-fi:before {
  content: "\e91f";
}
.icons-heart:before {
  content: "\e920";
}
.icons-flash:before {
  content: "\e921";
}
.icons-cancel:before {
  content: "\e922";
}
.icons-backspace:before {
  content: "\e923";
}
.icons-attachment:before {
  content: "\e924";
}
.icons-arrow-move:before {
  content: "\e925";
}
.icons-warning:before {
  content: "\e926";
}
.icons-user:before {
  content: "\e927";
}
.icons-radar:before {
  content: "\e928";
}
.icons-lock-open:before {
  content: "\e929";
}
.icons-lock-closed:before {
  content: "\e92a";
}
.icons-location-arrow:before {
  content: "\e92b";
}
.icons-info:before {
  content: "\e92c";
}
.icons-user-delete:before {
  content: "\e92d";
}
.icons-user-add:before {
  content: "\e92e";
}
.icons-media-pause:before {
  content: "\e92f";
}
.icons-group:before {
  content: "\e930";
}
.icons-chart-pie:before {
  content: "\e931";
}
.icons-chart-line:before {
  content: "\e932";
}
.icons-chart-bar:before {
  content: "\e933";
}
.icons-chart-area:before {
  content: "\e934";
}
.icons-video:before {
  content: "\e935";
}
.icons-point-of-interest:before {
  content: "\e936";
}
.icons-infinity:before {
  content: "\e937";
}
.icons-globe:before {
  content: "\e938";
}
.icons-eye:before {
  content: "\e939";
}
.icons-cog:before {
  content: "\e93a";
}
.icons-camera:before {
  content: "\e93b";
}
.icons-upload:before {
  content: "\e93c";
}
.icons-scissors:before {
  content: "\e93d";
}
.icons-refresh:before {
  content: "\e93e";
}
.icons-pin:before {
  content: "\e93f";
}
.icons-key:before {
  content: "\e940";
}
.icons-info-large:before {
  content: "\e941";
}
.icons-eject:before {
  content: "\e942";
}
.icons-download:before {
  content: "\e943";
}
.icons-zoom:before {
  content: "\e944";
}
.icons-zoom-out:before {
  content: "\e945";
}
.icons-zoom-in:before {
  content: "\e946";
}
.icons-sort-numerically:before {
  content: "\e947";
}
.icons-sort-alphabetically:before {
  content: "\e948";
}
.icons-input-checked:before {
  content: "\e949";
}
.icons-calender:before {
  content: "\e94a";
}
.icons-world:before {
  content: "\e94b";
}
.icons-notes:before {
  content: "\e94c";
}
.icons-code:before {
  content: "\e94d";
}
.icons-arrow-sync:before {
  content: "\e94e";
}
.icons-arrow-shuffle:before {
  content: "\e94f";
}
.icons-arrow-repeat:before {
  content: "\e950";
}
.icons-arrow-minimise:before {
  content: "\e951";
}
.icons-arrow-maximise:before {
  content: "\e952";
}
.icons-arrow-loop:before {
  content: "\e953";
}
.icons-anchor:before {
  content: "\e954";
}
.icons-spanner:before {
  content: "\e955";
}
.icons-puzzle:before {
  content: "\e956";
}
.icons-power:before {
  content: "\e957";
}
.icons-plane:before {
  content: "\e958";
}
.icons-pi:before {
  content: "\e959";
}
.icons-phone:before {
  content: "\e95a";
}
.icons-microphone:before {
  content: "\e95b";
}
.icons-media-rewind:before {
  content: "\e95c";
}
.icons-flag:before {
  content: "\e95d";
}
.icons-adjust-brightness:before {
  content: "\e95e";
}
.icons-waves:before {
  content: "\e95f";
}
.icons-social-twitter:before {
  content: "\e960";
}
.icons-social-facebook:before {
  content: "\e961";
}
.icons-social-dribbble:before {
  content: "\e962";
}
.icons-media-stop:before {
  content: "\e963";
}
.icons-media-record:before {
  content: "\e964";
}
.icons-media-play:before {
  content: "\e965";
}
.icons-media-fast-forward:before {
  content: "\e966";
}
.icons-media-eject:before {
  content: "\e967";
}
.icons-social-vimeo:before {
  content: "\e968";
}
.icons-social-tumbler:before {
  content: "\e969";
}
.icons-social-skype:before {
  content: "\e96a";
}
.icons-social-pinterest:before {
  content: "\e96b";
}
.icons-social-linkedin:before {
  content: "\e96c";
}
.icons-social-last-fm:before {
  content: "\e96d";
}
.icons-social-github:before {
  content: "\e96e";
}
.icons-social-flickr:before {
  content: "\e96f";
}
.icons-at:before {
  content: "\e970";
}
.icons-times-outline:before {
  content: "\e971";
}
.icons-plus-outline:before {
  content: "\e972";
}
.icons-minus-outline:before {
  content: "\e973";
}
.icons-tick-outline:before {
  content: "\e974";
}
.icons-th-large-outline:before {
  content: "\e975";
}
.icons-equals-outline:before {
  content: "\e976";
}
.icons-divide-outline:before {
  content: "\e977";
}
.icons-chevron-right-outline:before {
  content: "\e978";
}
.icons-chevron-left-outline:before {
  content: "\e979";
}
.icons-arrow-right-outline:before {
  content: "\e97a";
}
.icons-arrow-left-outline:before {
  content: "\e97b";
}
.icons-th-small-outline:before {
  content: "\e97c";
}
.icons-th-menu-outline:before {
  content: "\e97d";
}
.icons-th-list-outline:before {
  content: "\e97e";
}
.icons-news:before {
  content: "\e97f";
}
.icons-home-outline:before {
  content: "\e980";
}
.icons-arrow-up-outline:before {
  content: "\e981";
}
.icons-arrow-forward-outline:before {
  content: "\e982";
}
.icons-arrow-down-outline:before {
  content: "\e983";
}
.icons-arrow-back-outline:before {
  content: "\e984";
}
.icons-trash:before {
  content: "\e985";
}
.icons-rss-outline:before {
  content: "\e986";
}
.icons-message:before {
  content: "\e987";
}
.icons-location-outline:before {
  content: "\e988";
}
.icons-link-outline:before {
  content: "\e989";
}
.icons-image-outline:before {
  content: "\e98a";
}
.icons-export-outline:before {
  content: "\e98b";
}
.icons-cross:before {
  content: "\e98c";
}
.icons-wi-fi-outline:before {
  content: "\e98d";
}
.icons-star-outline:before {
  content: "\e98e";
}
.icons-media-pause-outline:before {
  content: "\e98f";
}
.icons-mail:before {
  content: "\e990";
}
.icons-heart-outline:before {
  content: "\e991";
}
.icons-flash-outline:before {
  content: "\e992";
}
.icons-cancel-outline:before {
  content: "\e993";
}
.icons-beaker:before {
  content: "\e994";
}
.icons-arrow-move-outline:before {
  content: "\e995";
}
.icons-watch:before {
  content: "\e996";
}
.icons-warning-outline:before {
  content: "\e997";
}
.icons-time:before {
  content: "\e998";
}
.icons-radar-outline:before {
  content: "\e999";
}
.icons-lock-open-outline:before {
  content: "\e99a";
}
.icons-location-arrow-outline:before {
  content: "\e99b";
}
.icons-info-outline:before {
  content: "\e99c";
}
.icons-backspace-outline:before {
  content: "\e99d";
}
.icons-attachment-outline:before {
  content: "\e99e";
}
.icons-user-outline:before {
  content: "\e99f";
}
.icons-user-delete-outline:before {
  content: "\e9a0";
}
.icons-user-add-outline:before {
  content: "\e9a1";
}
.icons-lock-closed-outline:before {
  content: "\e9a2";
}
.icons-group-outline:before {
  content: "\e9a3";
}
.icons-chart-pie-outline:before {
  content: "\e9a4";
}
.icons-chart-line-outline:before {
  content: "\e9a5";
}
.icons-chart-bar-outline:before {
  content: "\e9a6";
}
.icons-chart-area-outline:before {
  content: "\e9a7";
}
.icons-video-outline:before {
  content: "\e9a8";
}
.icons-point-of-interest-outline:before {
  content: "\e9a9";
}
.icons-map:before {
  content: "\e9aa";
}
.icons-key-outline:before {
  content: "\e9ab";
}
.icons-infinity-outline:before {
  content: "\e9ac";
}
.icons-globe-outline:before {
  content: "\e9ad";
}
.icons-eye-outline:before {
  content: "\e9ae";
}
.icons-cog-outline:before {
  content: "\e9af";
}
.icons-camera-outline:before {
  content: "\e9b0";
}
.icons-upload-outline:before {
  content: "\e9b1";
}
.icons-support:before {
  content: "\e9b2";
}
.icons-scissors-outline:before {
  content: "\e9b3";
}
.icons-refresh-outline:before {
  content: "\e9b4";
}
.icons-info-large-outline:before {
  content: "\e9b5";
}
.icons-eject-outline:before {
  content: "\e9b6";
}
.icons-download-outline:before {
  content: "\e9b7";
}
.icons-battery-mid:before {
  content: "\e9b8";
}
.icons-battery-low:before {
  content: "\e9b9";
}
.icons-battery-high:before {
  content: "\e9ba";
}
.icons-zoom-outline:before {
  content: "\e9bb";
}
.icons-zoom-out-outline:before {
  content: "\e9bc";
}
.icons-zoom-in-outline:before {
  content: "\e9bd";
}
.icons-tag:before {
  content: "\e9be";
}
.icons-tabs-outline:before {
  content: "\e9bf";
}
.icons-pin-outline:before {
  content: "\e9c0";
}
.icons-message-typing:before {
  content: "\e9c1";
}
.icons-directions:before {
  content: "\e9c2";
}
.icons-battery-full:before {
  content: "\e9c3";
}
.icons-battery-charge:before {
  content: "\e9c4";
}
.icons-pipette:before {
  content: "\e9c5";
}
.icons-pencil:before {
  content: "\e9c6";
}
.icons-folder:before {
  content: "\e9c7";
}
.icons-folder-delete:before {
  content: "\e9c8";
}
.icons-folder-add:before {
  content: "\e9c9";
}
.icons-edit:before {
  content: "\e9ca";
}
.icons-document:before {
  content: "\e9cb";
}
.icons-document-delete:before {
  content: "\e9cc";
}
.icons-document-add:before {
  content: "\e9cd";
}
.icons-brush:before {
  content: "\e9ce";
}
.icons-thumbs-up:before {
  content: "\e9cf";
}
.icons-thumbs-down:before {
  content: "\e9d0";
}
.icons-pen:before {
  content: "\e9d1";
}
.icons-sort-numerically-outline:before {
  content: "\e9d2";
}
.icons-sort-alphabetically-outline:before {
  content: "\e9d3";
}
.icons-social-last-fm-circular:before {
  content: "\e9d4";
}
.icons-social-github-circular:before {
  content: "\e9d5";
}
.icons-compass:before {
  content: "\e9d6";
}
.icons-bookmark:before {
  content: "\e9d7";
}
.icons-input-checked-outline:before {
  content: "\e9d8";
}
.icons-code-outline:before {
  content: "\e9d9";
}
.icons-calender-outline:before {
  content: "\e9da";
}
.icons-business-card:before {
  content: "\e9db";
}
.icons-arrow-up:before {
  content: "\e9dc";
}
.icons-arrow-sync-outline:before {
  content: "\e9dd";
}
.icons-arrow-right:before {
  content: "\e9de";
}
.icons-arrow-repeat-outline:before {
  content: "\e9df";
}
.icons-arrow-loop-outline:before {
  content: "\e9e0";
}
.icons-arrow-left:before {
  content: "\e9e1";
}
.icons-flow-switch:before {
  content: "\e9e2";
}
.icons-flow-parallel:before {
  content: "\e9e3";
}
.icons-flow-merge:before {
  content: "\e9e4";
}
.icons-document-text:before {
  content: "\e9e5";
}
.icons-clipboard:before {
  content: "\e9e6";
}
.icons-calculator:before {
  content: "\e9e7";
}
.icons-arrow-minimise-outline:before {
  content: "\e9e8";
}
.icons-arrow-maximise-outline:before {
  content: "\e9e9";
}
.icons-arrow-down:before {
  content: "\e9ea";
}
.icons-gift:before {
  content: "\e9eb";
}
.icons-film:before {
  content: "\e9ec";
}
.icons-database:before {
  content: "\e9ed";
}
.icons-bell:before {
  content: "\e9ee";
}
.icons-anchor-outline:before {
  content: "\e9ef";
}
.icons-adjust-contrast:before {
  content: "\e9f0";
}
.icons-world-outline:before {
  content: "\e9f1";
}
.icons-shopping-bag:before {
  content: "\e9f2";
}
.icons-power-outline:before {
  content: "\e9f3";
}
.icons-notes-outline:before {
  content: "\e9f4";
}
.icons-device-tablet:before {
  content: "\e9f5";
}
.icons-device-phone:before {
  content: "\e9f6";
}
.icons-device-laptop:before {
  content: "\e9f7";
}
.icons-device-desktop:before {
  content: "\e9f8";
}
.icons-briefcase:before {
  content: "\e9f9";
}
.icons-stopwatch:before {
  content: "\e9fa";
}
.icons-spanner-outline:before {
  content: "\e9fb";
}
.icons-puzzle-outline:before {
  content: "\e9fc";
}
.icons-printer:before {
  content: "\e9fd";
}
.icons-pi-outline:before {
  content: "\e9fe";
}
.icons-lightbulb:before {
  content: "\e9ff";
}
.icons-flag-outline:before {
  content: "\ea00";
}
.icons-contacts:before {
  content: "\ea01";
}
.icons-archive:before {
  content: "\ea02";
}
.icons-weather-stormy:before {
  content: "\ea03";
}
.icons-weather-shower:before {
  content: "\ea04";
}
.icons-weather-partly-sunny:before {
  content: "\ea05";
}
.icons-weather-downpour:before {
  content: "\ea06";
}
.icons-weather-cloudy:before {
  content: "\ea07";
}
.icons-plane-outline:before {
  content: "\ea08";
}
.icons-phone-outline:before {
  content: "\ea09";
}
.icons-microphone-outline:before {
  content: "\ea0a";
}
.icons-weather-windy:before {
  content: "\ea0b";
}
.icons-weather-windy-cloudy:before {
  content: "\ea0c";
}
.icons-weather-sunny:before {
  content: "\ea0d";
}
.icons-weather-snow:before {
  content: "\ea0e";
}
.icons-weather-night:before {
  content: "\ea0f";
}
.icons-media-stop-outline:before {
  content: "\ea10";
}
.icons-media-rewind-outline:before {
  content: "\ea11";
}
.icons-media-record-outline:before {
  content: "\ea12";
}
.icons-media-play-outline:before {
  content: "\ea13";
}
.icons-media-fast-forward-outline:before {
  content: "\ea14";
}
.icons-media-eject-outline:before {
  content: "\ea15";
}
.icons-wine:before {
  content: "\ea16";
}
.icons-waves-outline:before {
  content: "\ea17";
}
.icons-ticket:before {
  content: "\ea18";
}
.icons-tags:before {
  content: "\ea19";
}
.icons-plug:before {
  content: "\ea1a";
}
.icons-headphones:before {
  content: "\ea1b";
}
.icons-credit-card:before {
  content: "\ea1c";
}
.icons-coffee:before {
  content: "\ea1d";
}
.icons-book:before {
  content: "\ea1e";
}
.icons-beer:before {
  content: "\ea1f";
}
.icons-volume:before {
  content: "\ea20";
}
.icons-volume-up:before {
  content: "\ea21";
}
.icons-volume-mute:before {
  content: "\ea22";
}
.icons-volume-down:before {
  content: "\ea23";
}
.icons-social-vimeo-circular:before {
  content: "\ea24";
}
.icons-social-twitter-circular:before {
  content: "\ea25";
}
.icons-social-pinterest-circular:before {
  content: "\ea26";
}
.icons-social-linkedin-circular:before {
  content: "\ea27";
}
.icons-social-facebook-circular:before {
  content: "\ea28";
}
.icons-social-dribbble-circular:before {
  content: "\ea29";
}
.icons-tree:before {
  content: "\ea2a";
}
.icons-thermometer:before {
  content: "\ea2b";
}
.icons-social-tumbler-circular:before {
  content: "\ea2c";
}
.icons-social-skype-outline:before {
  content: "\ea2d";
}
.icons-social-flickr-circular:before {
  content: "\ea2e";
}
.icons-social-at-circular:before {
  content: "\ea2f";
}
.icons-shopping-cart:before {
  content: "\ea30";
}
.icons-messages:before {
  content: "\ea31";
}
.icons-leaf:before {
  content: "\ea32";
}
.icons-feather:before {
  content: "\ea33";
}

